

/*.dark-mode{*/
/*    background-color: green;*/
/*   }*/

/*#big-font{*/
/*    color: white;*/
/*}*/

header{
    background-image: url("../img/chilipeppers.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
    height: 200px
}