.fancy-header {
    color: purple;
    }

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color: maroon;
    text-decoration: underline;
}

body{
    background-color: aquamarine;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: 500px 100px;
    background-position: top center;
    font-style: oblique;}

    /*a:link {color:maroon;}*/
    /*a:visited {color:green;}*/
    a:hover {color:red;}
    /*a:active {color:yellow;}*/

ul{
    list-style-type: square;

}

ol{
    list-style-type: lower-roman;
}





